PyQt6
PyQt6-WebEngine
numpy
networkx
python-dotenv
sentence-transformers
requests
matplotlib
# Parsing
tree-sitter>=0.22.0
tree-sitter-c
tree-sitter-cpp
tree-sitter-python
tree-sitter-lua
tree-sitter-java
tree-sitter-rust
tree-sitter-javascript